<h1> Stupid Coaching </h1>
<form action="/answer" method="GET">
  <input type="text" name="question" placeholder="What do you want to tell your coach?" class="input">
  <input type="submit" value="Ask!" class="submit-btn">
</form> 